* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;

}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}



.container {
    max-width: 1100px;
    margin: auto;
}




.primary-text {
    color: #e4b95b;
} 

.btn {
    display: inline-block;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;

}

.btn-primary {
    color: aliceblue;
    border: 1px solid aliceblue;
}


.btn-secondary {

   color: aliceblue;
   background: #3848; 
   margin-top: 2rem;


}


.btn-primary:hover,
.btn-secondary:hover {
    background: #e4b95b;

}

header {
    height: 100vh;
    background: url('home_bg.jpeg') center center/cover no-repeat;
    position: relative;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: brown;

}

#navbar img {
    width: 80px;
    margin-left: 100px;


}
#navbar ul {
    display: flex;
    margin-right: 100px;
    
}

#navbar ul li a {
    padding: 15px 20px; 
    color: aliceblue;
    font-weight: 400;

}

#navbar ul li a:hover {
    border-bottom: 2px solid #e4b95b; 
}

header .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;




}

header .content h1 {
    font-size: 40px;
    color: aliceblue;
}

header .content p {
    margin: 20px 0 40px;
    color: aliceblue;

}

header::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width:100%;
 background: rgb(0, 0, 0, 0.6);

}


header * {
    z-index: 10;
}


#about {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: brown;

}
#about .title,
#offers .title {
    text-align: center;
    margin-bottom: 4rem;

}

#about h2,
#offers {
    font-size: 40px;
    color: black;
    margin-bottom: 20px;
}

#about .title p {
    font-size: 14px;
    color:beige;
    font-weight: 600;

}

#about .about-content {
    display: flex;
    justify-content: space-between;
}

#about .about-content img {
    max-width: 450px;
    
}

#about .about-content p {
    color:beige;
    margin-right: 7rem;
    font-weight: 500;
    line-height: 1.6;
}

#offers {
    height: 80vh;
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;
} 

#offers h2 {
    color: brown;

}

#offers .title p {
    color: brown;
    font-weight: 500;
}

#offers .offers-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: black;
    
}

#offers .offers-items img {
    width: 200px;
    
}

#offers .offers-items h3 {
    font-size: 25px;
    margin: 15px 0;
}

#offers .offers-items p {
    font-size: 14px;
    padding: 0 20px;
    font-weight: 900;
    margin-bottom: 15px;
    color: black;

}


#offers .offers-items span {
    font-size: 18px;
    font-weight: 600;
    margin-left: 5px;
}



